@using Inscripciones.Models.Commons
@model AnioCarrera

@{
    ViewData["Title"] = "Details";
}

<h1 class="detalle">Detalle</h1>

<div>
    <h4>Año Carrera:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrera.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a class="editar" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="volverLista" asp-action="IndexAnioPorCarrera">Volver a la lista</a>
</div>
