@{
    ViewData["Title"] = "35 Aniversario";
}
<p>El día de hoy, el Instituto Superior de Profesorado N°20, conmemora su 35° aniversario. Fundado el 1° de diciembre de 1988 mediante el Decreto N°5259, y dando inicio a su primer Ciclo Lectivo el día 10 de abril de 1989, este instituto ha sido un referente en la educación superior en la región.</p>
<br />
<p>El impulso inicial para la creación del Instituto surgió gracias al incansable trabajo del Senador Provincial por el Departamento San Justo, Técnico Néstor Juan Zamaro, respaldado por un grupo de individuos comprometidos que reconocieron la necesidad urgente de ampliar el acceso a estudios de Educación Superior en San Justo y sus alrededores.</p>
<br />
<p>Hoy, gracias a la visión de esos pioneros y al esfuerzo continuo de toda la comunidad educativa, el Instituto Superior de Profesorado se proyecta como una de las instituciones con la mayor oferta educativa en este nivel en la región. No solo ha brindado oportunidades de formación académica, sino que también ha nutrido la vida cultural y social de la comunidad.</p>
<br />
<p>En este día especial, renovamos nuestro compromiso para seguir sosteniendo y garantizando el acceso a los estudios superiores. Seguiremos trabajando incansablemente para cultivar el conocimiento, fomentar el crecimiento personal y profesional, y contribuir al desarrollo integral de nuestra sociedad.</p>
<br />
<p>Feliz aniversario a todos los que forman parte de esta gran familia del Instituto Superior de Profesorado. ¡Que sigamos alcanzando nuevos logros juntos en el camino hacia un futuro educativo en igualdad de oportunidades para todos!</p>
<br />
<center>
    <p>Equipo </p>
    <p>Equipo Directivo</p>
    <img src="~/IMGS/35aniversario.png" width="550px" style="" margin="20px" />
</center>


