@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/inicio.css" />

<h1 class="titulo">Instituto Superior de Profesorado N° 20</h1>
<h3>Néstor Zamaro - San Justo Santa Fe</h3>

<div class="contenedor">
    <h1 class="saludo">Bienvenido</h1>
    <p>visítame==> <a href="http://isp20.edu.ar/nuevo/#">carreras e información</a></p>
</div>
