@using Inscripciones.Models.Commons
@model Materia

@{
    ViewData["Title"] = "Details";
}

<h1 class="detalle">Detalle</h1>

<div>
    <h4>Materias:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioCarrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioCarrera.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a class="editar" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="volverLista" asp-action="IndexPorAnio">Volver a la lista</a>
</div>
