@model Inscripciones.Models.Inscripcion

@{
    ViewData["Title"] = "Create";
}

<h1 class="conten-crear">CREAR INSCRIPCIÓN: </h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoId" class="control-label">Nombre del alumno</label>
                <select asp-for="AlumnoId" class ="form-control" asp-items="ViewBag.Alumnos"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarreraId" class="control-label">Nombre de la carrera</label>
                <select asp-for="CarreraId" class ="form-control" asp-items="ViewBag.Carreras"></select>
            </div>
            <div class="error">
                <p>mensaje</p>
            </div>
            <div class="form-group">
                <input type="submit" value="CREAR" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="volverLista" asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
